body{
    margin: 0;
  }
  .offer-text{
    font-weight: bold;
    padding: 15px 10px;
    margin: 0;
    background: linear-gradient(to right,rgb(0, 151, 178),rgb(126, 217, 87));
    text-align: center;
    font-size: 14px;
   }
   .navigation_bar{
     display: flex;
     justify-content: space-between;
     padding: 0px 15px;
     align-items: center;
     height: 55px;
     position: relative;
    }
    .fixed{
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: white;
      width: 100%;
    }
   .hamburger_icon{
     font-size: 28px;
   }
   .site_info{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .site_logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    }
   .site_name{
     font-size: 28px;
     font-weight: bold;
     letter-spacing: 1px;
     color: rgb(79, 113, 51); 
   }
   .other_icons{
     display: flex;
     align-items: center;
   }
   .search_icon,.profile_icon,.cart_icon{
     margin-right: 20px;
     font-size: 25px;
   }
   .login_btn{
      border: 3px solid rgb(79,113,51);
      background-color: white;
      padding: 5px 10px;
      margin-right: 20px;
      font-size: 16px;
   }
   .advertisement_banner{
    height: 615px;
    width:100%;
    overflow: hidden;
   }
   .advertisement_banner_list{
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    transition: transform 2s ease-in-out;
   }
   .advertisement_banner_1{
    position: relative;
    width: 100%;
    height:100%;
   }
   .ad_image_1{
    height: 615px;
    width: 100%; 
    object-fit: cover;
    z-index: 1;
    object-position: center;
   }
   .advertisement_banner_1 .advertisement_info{
    position: absolute;
    top: 25%;
    right:0;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 20px;
   }
   .advertisement_banner_1 .advertisement_info .text_1{
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  .advertisement_banner_1 .advertisement_info .text_2{
    font-size: 140px;
    margin-bottom: 10px;
  }
  .advertisement_banner_1 .advertisement_info .text_2_1{
    font-size: 35px; 
    vertical-align: middle;
    margin-left: -15px;
  }
  .advertisement_banner_1 .advertisement_info .text_3{
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
  }
  .advertisement_banner_2{
    position:relative;
  }
  .advertisement_banner_2 .advertisement_info{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 400px;
  }
  .advertisement_banner_2 .text_1{
    font-weight: bold;
    font-size: 80px;
  }
  .advertisement_banner_2 .text_2{
    font-weight: bold;
    font-size: 55px;
    margin-left: 40px;

  }
  .advertisement_banner_2 .text_3{
    font-weight: bold;
    font-size: 40px;
    float: right;
  }
  .advertisement_banner_3{
    position:relative;
  }
  .advertisement_banner_3 .advertisement_info{
    position: absolute;
    top: 10%;
    left: 5%;
    line-height: 50px;
  }
  .advertisement_banner_3 .text_1{
    font-size: 60px;
    font-weight: bold;
  }
  .advertisement_banner_3 .text_2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
  }
  .advertisement_banner_3 .text_3{
    font-size: 30px;
    font-weight: bold;
  }
  .advertisement_banner_3 .text_4{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
  }
  .banner_navigation{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 30px;
    align-items: center;
    z-index: 10;
  }
  .round_divs{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .round_1,.round_2,.round_3{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
    }
    .round_divs .active{
      background-color: white;
      transition: background-color 5s ease-in-out;
    }
    .purchase_now{
      font-weight: bold;
    }
    .purchase_now_btn{
      font-weight: bold;
      background: linear-gradient(to right,rgb(0, 151, 178),rgb(126, 217, 87));
      border: 1px solid black;
      padding: 5px 10px;
      margin-left: 10px;
      border-radius:5px;
      text-transform: uppercase;
    } 
    .beneficial_products_section,.exciting_offer_products_section{
      display: grid;
      grid-template-rows: auto auto auto;
      row-gap: 30px;
      padding: 50px 0;
  }
  .title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  .product_list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    column-gap: 30px;
    width: 90%;
    justify-self: center;
    margin: 0 auto;
  }
  .view_all_products{
    margin-top: 20px; 
    text-align: center;
  }
  .product{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .img{
    width: 100%;
    height: 200px; 
    object-fit: cover;
    object-position: center;
  }
  .product_info{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .product_name{
    font-size: 20px;
    font-weight: bold;
  }
  .packs{
    font-size: 16px;
    font-weight: normal;
  }
  .ratings{
    display: flex;
    align-items: center;
  }
  .stars{
    display: flex;
  }
  .star{
    width: 25px;
    height: 25px;
  }
  .price{
    font-size: 16px;
    color: rgb(79, 113, 51);
    font-weight: bold;
  }
  .add_to_cart_btn{
    border: none;
    background-color: rgb(79, 113, 51);
    color:white;
    width: 100%;
    padding: 5px 10px;
  
  }
  .view_all_products{
    text-align: center;
  }
  .view_all_products_btn{
    border: none;
    background-color:  rgb(79, 113, 51);;
    color:  white;
    padding: 10px 30px;
  }
  .footer_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(79, 113, 51);
    color:white;
    padding: 20px 20px 10px 20px;
  }
  .contact_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }
  .address{
    line-height: 30px;
  }
  .social_media_icons{
    display: flex;
    column-gap: 10px;
  }
  .icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  ul{
     list-style: none;
     padding: 0;
  }
  li{
    margin-bottom: 10px;
  }
  .beneficial_products_footer p,.exciting_offer_products_footer p{
    font-size: 20px;
  }
  ul span{
    font-size: 14px;
    font-weight: normal;
  }
  .company_info{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .company_logo{
    width: 100%;
    height: 180px;
  } 
  .site_name_footer{
    font-size: 30px;
    letter-spacing: 2px;
    white-space: nowrap;
  } 
  



   